@font-face {
    font-family: "ef-font";
    /* 自定义字体的名称 */
    src: url("../font/english/effffdf8-cb4c-441a-af80-dad524228169.ttf") format("truetype");
}

@font-face {
    font-family: "tt-font";
    /* 自定义字体的名称 */
    src: url("../font/english/TTFirsNeue-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "te-font";
    /* 自定义字体的名称 */
    src: url("../font/english/TechnoChain.otf") format("opentype");
}

.header {
    height: 120px;
    position: fixed;
    /* 将导航栏固定在顶部 */
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: #010101;
}

.mean-container .mean-bar {
    background-color: #010101 !important;
}

@font-face {
    font-family: 'mytent';
    src: url('../font/english/TechnoChain.otf');
}


/* 移动设备 */

@media only screen and (max-width: 767px) {
    /* 移动设备样式 */
    .header {
        display: none;
    }
    /* 添加平板设备样式 */
    /* 添加小型台式机和笔记本电脑样式 */
    .aboutContainer {
        width: 100%;
        height: 200px;
        background: url('../image/BANNER背景@2x.png') no-repeat;
        background-size: 100% 100%;
        margin-top: calc(82px) !important;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .aboutTitle {
        font-family: 'te-font';
        font-size: 70px;
        color: #fff;
        margin-top: calc(-54px);
    }
    .container {
        width: 400px;
        padding: 0;
        margin: 0 auto;
    }
    .header img {
        width: 100px;
        height: 62px;
        margin-top: 17px;
        margin-bottom: 21px;
    }
    .header .navbar {
        margin-left: 90px;
        display: flex;
    }
    .headerbox {
        display: flex;
    }
    .navbar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        list-style-type: none;
    }
    .navbar ul li {
        font-size: 24px;
        font-weight: 400;
        color: #fff;
    }
    .navbar ul li a {
        font-family: "te-font", sans-serif;
    }
    .navbar ul li:nth-child(2) {
        margin-left: 85px;
    }
    .navbar ul li:nth-child(3) {
        margin-left: 85px;
    }
    .btn {
        margin: 17px 0;
    }
    .aboutTitle {
        font-family: 'te-font';
        font-size: 70px;
        color: #fff;
        margin-top: 60px;
    }
    .mainContainer {
        width: 100%;
        height: auto;
        margin: auto;
        box-sizing: border-box;
        padding: 15px;
    }
    .mainContainer .one {
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 40px;
        color: #fff;
    }
    .mainContainer .two {
        margin-top: 49px;
        width: 100%;
        height: auto;
        color: #C0C0C0;
        font-size: 16px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .twoItem {
        margin-bottom: 10px;
    }
    .mainContainer2 {
        width: 100%;
        height: auto;
        margin: auto;
        box-sizing: border-box;
        padding: 15px;
    }
    .oneItem:first-child {
        display: block;
    }
    .mainContainer2 .one {
        margin-top: 0;
        margin-bottom: 20px;
        height: 101px;
        width: 100%;
        font-family: 'te-font';
        font-size: 40px;
        color: #fff;
    }
    .mainContainer2 .two {
        margin-top: 49px;
        width: 100%;
        height: auto;
        color: #C0C0C0;
        font-size: 16px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer3 {
        width: 100%;
        height: auto;
        margin: auto;
        box-sizing: border-box;
        padding: 15px;
    }
    .mainContainer3 .one {
        height: 101px;
        width: 100%;
        font-family: 'te-font';
        font-size: 40px;
        color: #fff;
    }
    .mainContainer3 .two {
        margin-top: 49px;
        width: 100%;
        height: auto;
        color: #C0C0C0;
        font-size: 16px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer4 {
        width: 100%;
        height: auto;
        margin: auto;
        box-sizing: border-box;
        padding: 15px;
    }
    .mainContainer4 .one {
        height: 101px;
        width: 100%;
        font-family: 'te-font';
        font-size: 40px;
        color: #fff;
    }
    .mainContainer4 .two {
        margin-top: 49px;
        width: 100%;
        height: auto;
        color: #C0C0C0;
        font-size: 16px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer5 {
        width: 100%;
        height: auto;
        margin: auto;
        box-sizing: border-box;
        padding: 15px;
    }
    .mainContainer5 .one {
        height: 101px;
        width: 100%;
        font-family: 'te-font';
        font-size: 40px;
        color: #fff;
    }
    .mainContainer5 .two {
        width: 100%;
        height: auto;
        color: #C0C0C0;
        font-size: 16px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer6 {
        width: 100%;
        height: auto;
        margin: auto;
        box-sizing: border-box;
        padding: 15px;
    }
    .mainContainer6 .one {
        height: 101px;
        width: 100%;
        font-family: 'te-font';
        font-size: 40px;
        color: #fff;
    }
    .mainContainer6 .two {
        width: 100%;
        height: auto;
        color: #C0C0C0;
        font-size: 16px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer7 {
        width: 100%;
        height: auto;
        margin: auto;
        box-sizing: border-box;
        padding: 15px;
    }
    .mainContainer7 .one {
        height: 101px;
        width: 100%;
        font-family: 'te-font';
        font-size: 40px;
        color: #fff;
    }
    .mainContainer7 .two {
        width: 100%;
        height: auto;
        color: #C0C0C0;
        font-size: 16px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer {
        width: 100%;
        height: 80px;
        background-color: #090909;
        position: relative;
        display: flex;
        margin-top: 200px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #2e2e2e;
    }
    .footerImg {
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
        width: 85px;
        height: 35px;
        background: url('../image/LOGO1@2x\(1\).png') no-repeat;
        background-size: contain;
    }
    .footerText {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-22%);
        font-size: 8px;
        font-family: 'ef-font';
        color: #C0C0C0;
    }
}


/* 平板设备样式 */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mobile-menu-area {
        display: none !important;
    }
    /* 添加平板设备样式 */
    /* 添加小型台式机和笔记本电脑样式 */
    .aboutContainer {
        width: 768px;
        height: 423px;
        background: url('../image/BANNER背景@2x.png') no-repeat;
        background-size: contain;
        margin-top: calc(82px + 39px) !important;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .aboutTitle {
        font-family: 'te-font';
        font-size: 70px;
        color: #fff;
        margin-top: calc(54px);
    }
    .container {
        width: 768px;
        padding: 0;
        margin: 0 auto;
    }
    .header img {
        width: 100px;
        height: 62px;
        margin-top: 17px;
        margin-bottom: 21px;
    }
    .header .navbar {
        margin-left: 90px;
        display: flex;
    }
    .headerbox {
        display: flex;
    }
    .navbar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        list-style-type: none;
    }
    .navbar ul li {
        font-size: 24px;
        font-weight: 400;
        color: #fff;
    }
    .navbar ul li a {
        font-family: "te-font", sans-serif;
    }
    .navbar ul li:nth-child(2) {
        margin-left: 85px;
    }
    .navbar ul li:nth-child(3) {
        margin-left: 85px;
    }
    .btn {
        margin: 17px 0;
    }
    .aboutTitle {
        font-family: 'te-font';
        font-size: 70px;
        color: #fff;
        margin-top: 60px;
    }
    .mainContainer {
        width: 768px;
        height: auto;
        margin: auto;
    }
    .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 45px;
        color: #fff;
    }
    .two {
        margin-top: 49px;
        width: 100%;
        height: 440px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer2 {
        width: 768px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer2 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 45px;
        color: #fff;
    }
    .mainContainer2 .two {
        margin-top: 49px;
        width: 100%;
        height: 56px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer3 {
        width: 768px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer3 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 45px;
        color: #fff;
    }
    .mainContainer3 .two {
        margin-top: 49px;
        width: 100%;
        height: 600px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer4 {
        width: 768px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer4 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 45px;
        color: #fff;
    }
    .mainContainer4 .two {
        margin-top: 49px;
        width: 100%;
        height: 408px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer5 {
        width: 768px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer5 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 45px;
        color: #fff;
    }
    .mainContainer5 .two {
        margin-top: 49px;
        width: 100%;
        height: 408px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer5 .two:nth-of-type(2) {
        height: initial;
    }
    .mainContainer5 .two:nth-of-type(2)>.twoItem {
        margin-top: 10px;
    }
    .mainContainer6 {
        width: 768px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer6 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 45px;
        color: #fff;
    }
    .mainContainer6 .two {
        margin-top: 49px;
        width: 100%;
        height: 89px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer7 {
        width: 768px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer7 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 45px;
        color: #fff;
    }
    .mainContainer7 .two {
        margin-top: 49px;
        width: 100%;
        height: 25px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer {
        width: 100%;
        height: 121px;
        background-color: #090909;
        margin-top: 200px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #2e2e2e;
    }
    .footerImg {
        width: 128px;
        height: 75px;
        background: url('../image/LOGO1@2x\(1\).png') no-repeat;
        background-size: contain;
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
    }
    .footerText {
        font-size: 16px;
        font-family: 'ef-font';
        color: #C0C0C0;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-22%);
    }
}


/* 小型台式机和笔记本电脑样式 */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .mobile-menu-area {
        display: none !important;
    }
    /* 添加小型台式机和笔记本电脑样式 */
    .aboutContainer {
        width: 992px;
        height: 423px;
        background: url('../image/BANNER背景@2x.png') no-repeat;
        background-size: contain;
        margin-top: calc(82px + 39px) !important;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .aboutTitle {
        font-family: 'te-font';
        font-size: 70px;
        color: #fff;
        margin-top: calc(54px);
    }
    .container {
        width: 992px;
        padding: 0;
        margin: 0 auto;
    }
    .header img {
        width: 140px;
        height: 82px;
        margin-top: 17px;
        margin-bottom: 21px;
    }
    .header .navbar {
        margin-left: 238px;
        display: flex;
    }
    .headerbox {
        display: flex;
    }
    .navbar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        list-style-type: none;
    }
    .navbar ul li {
        font-size: 24px;
        font-weight: 400;
        color: #fff;
    }
    .navbar ul li a {
        font-family: "te-font", sans-serif;
    }
    .navbar ul li:nth-child(2) {
        margin-left: 85px;
    }
    .navbar ul li:nth-child(3) {
        margin-left: 85px;
    }
    .btn {
        margin: 17px 0;
    }
    .aboutTitle {
        font-family: 'te-font';
        font-size: 70px;
        color: #fff;
        margin-top: 60px;
    }
    .mainContainer {
        width: 992px;
        height: auto;
        margin: auto;
    }
    .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 45px;
        color: #fff;
    }
    .two {
        margin-top: 49px;
        width: 100%;
        height: 440px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer2 {
        width: 992px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer2 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 45px;
        color: #fff;
    }
    .mainContainer2 .two {
        margin-top: 49px;
        width: 100%;
        height: 56px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer3 {
        width: 992px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer3 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 45px;
        color: #fff;
    }
    .mainContainer3 .two {
        margin-top: 49px;
        width: 100%;
        height: 600px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer4 {
        width: 992px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer4 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 45px;
        color: #fff;
    }
    .mainContainer4 .two {
        margin-top: 49px;
        width: 100%;
        height: 408px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer5 {
        width: 992px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer5 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 45px;
        color: #fff;
    }
    .mainContainer5 .two {
        margin-top: 49px;
        width: 100%;
        height: 408px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer5 .two:nth-of-type(2) {
        height: initial;
    }
    .mainContainer5 .two:nth-of-type(2)>.twoItem {
        margin-top: 10px;
    }
    .mainContainer6 {
        width: 992px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer6 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 45px;
        color: #fff;
    }
    .mainContainer6 .two {
        margin-top: 49px;
        width: 100%;
        height: 89px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer7 {
        width: 992px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer7 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 45px;
        color: #fff;
    }
    .mainContainer7 .two {
        margin-top: 49px;
        width: 100%;
        height: 25px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer {
        width: 100%;
        height: 121px;
        background-color: #090909;
        margin-top: 200px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #2e2e2e;
    }
    .footerImg {
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
        width: 128px;
        height: 75px;
        background: url('../image/LOGO1@2x\(1\).png') no-repeat;
        background-size: contain;
    }
    .footerText {
        position: absolute;
        font-size: 16px;
        font-family: 'ef-font';
        color: #C0C0C0;
        right: 5%;
        top: 50%;
        transform: translateY(-22%);
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1459px) {
    .mobile-menu-area {
        display: none !important;
    }
    .aboutContainer {
        width: 1200px;
        height: 423px;
        background: url('../image/BANNER背景@2x.png') no-repeat;
        background-size: contain;
        margin-top: calc(82px + 39px) !important;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .aboutTitle {
        font-family: 'te-font';
        font-size: 70px;
        color: #fff;
        margin-top: calc(54px);
    }
    .container {
        width: 1200px;
        padding: 0;
        margin: 0 auto;
    }
    .header img {
        width: 140px;
        height: 82px;
        margin-top: 17px;
        margin-bottom: 21px;
    }
    .header .navbar {
        margin-left: 238px;
        display: flex;
    }
    .headerbox {
        display: flex;
    }
    .navbar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        list-style-type: none;
    }
    .navbar ul li {
        font-size: 24px;
        font-weight: 400;
        color: #fff;
    }
    .navbar ul li a {
        font-family: "te-font", sans-serif;
    }
    .navbar ul li:nth-child(2) {
        margin-left: 85px;
    }
    .navbar ul li:nth-child(3) {
        margin-left: 85px;
    }
    .btn {
        margin: 17px 0;
    }
    .aboutTitle {
        font-family: 'te-font';
        font-size: 70px;
        color: #fff;
        margin-top: 60px;
    }
    .mainContainer {
        width: 1200px;
        height: auto;
        margin: auto;
    }
    .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 45px;
        color: #fff;
    }
    .two {
        margin-top: 49px;
        width: 100%;
        height: 440px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer2 {
        width: 1200px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer2 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 45px;
        color: #fff;
    }
    .mainContainer2 .two {
        margin-top: 49px;
        width: 100%;
        height: 56px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer3 {
        width: 1200px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer3 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 45px;
        color: #fff;
    }
    .mainContainer3 .two {
        margin-top: 49px;
        width: 100%;
        height: 600px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer4 {
        width: 1200px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer4 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 45px;
        color: #fff;
    }
    .mainContainer4 .two {
        margin-top: 49px;
        width: 100%;
        height: 408px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer5 {
        width: 1200px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer5 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 45px;
        color: #fff;
    }
    .mainContainer5 .two {
        margin-top: 49px;
        width: 100%;
        height: 408px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer5 .two:nth-of-type(2) {
        height: initial;
    }
    .mainContainer5 .two:nth-of-type(2)>.twoItem {
        margin-top: 10px;
    }
    .mainContainer6 {
        width: 1200px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer6 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 45px;
        color: #fff;
    }
    .mainContainer6 .two {
        margin-top: 49px;
        width: 100%;
        height: 89px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer7 {
        width: 1200px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer7 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 45px;
        color: #fff;
    }
    .mainContainer7 .two {
        margin-top: 49px;
        width: 100%;
        height: 25px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer {
        width: 100%;
        height: 121px;
        background-color: #090909;
        margin-top: 247px;
        position: relative;
        position: relative;
        border-top: 1px solid #2e2e2e;
    }
    .footerImg {
        width: 128px;
        height: 75px;
        background: url('../image/LOGO1@2x\(1\).png') no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 230px;
    }
    .footerText {
        font-size: 16px;
        font-family: 'ef-font';
        color: #C0C0C0;
        position: absolute;
        right: 234px;
        top: 50%;
        transform: translateY(-22%);
    }
}

@media only screen and (min-width: 1460px) {
    .mobile-menu-area {
        display: none !important;
    }
    /* 添加大型台式机和大屏幕样式 */
    .container {
        width: 1460px !important;
        padding: 0;
        margin: 0 auto;
    }
    .header {
        width: 1460px !important;
    }
    .header img {
        width: 140px;
        height: 82px;
        margin-top: 17px;
        margin-bottom: 21px;
    }
    .header .navbar {
        margin-left: 238px;
        display: flex;
    }
    .headerbox {
        display: flex;
    }
    .navbar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        list-style-type: none;
    }
    .navbar ul li {
        font-size: 24px;
        font-weight: 400;
        color: #fff;
    }
    .navbar ul li a {
        font-family: "te-font", sans-serif;
    }
    .navbar ul li:nth-child(2) {
        margin-left: 85px;
    }
    .navbar ul li:nth-child(3) {
        margin-left: 85px;
    }
    .activefont {
        color: #0061cd;
        font-family: 'mytent';
    }
    .btn {
        margin: 17px 0;
    }
    .aboutContainer {
        width: 1460px;
        height: 423px;
        background: url('../image/BANNER背景@2x.png') no-repeat;
        background-size: contain;
        margin-top: calc(82px + 39px) !important;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .aboutTitle {
        font-family: 'te-font';
        font-size: 90px;
        color: #fff;
        margin-top: calc(132px - 39px);
    }
    .mainContainer {
        width: 1460px;
        height: auto;
        margin: auto;
    }
    .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 60px;
        color: #fff;
    }
    .two {
        margin-top: 49px;
        width: 100%;
        height: 440px;
        color: #C0C0C0;
        font-size: 26px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer2 {
        width: 1460px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer2 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 60px;
        color: #fff;
    }
    .mainContainer2 .two {
        margin-top: 49px;
        width: 100%;
        height: 56px;
        color: #C0C0C0;
        font-size: 26px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer3 {
        width: 1460px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer3 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 60px;
        color: #fff;
    }
    .mainContainer3 .two {
        margin-top: 49px;
        width: 100%;
        height: 600px;
        color: #C0C0C0;
        font-size: 26px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer4 {
        width: 1460px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer4 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 60px;
        color: #fff;
    }
    .mainContainer4 .two {
        margin-top: 49px;
        width: 100%;
        height: 408px;
        color: #C0C0C0;
        font-size: 26px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer5 {
        width: 1460px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer5 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 60px;
        color: #fff;
    }
    .mainContainer5 .two {
        margin-top: 49px;
        width: 100%;
        height: 408px;
        color: #C0C0C0;
        font-size: 26px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer5 .two:nth-of-type(2) {
        height: initial;
    }
    .mainContainer5 .two:nth-of-type(2)>.twoItem {
        margin-top: 10px;
    }
    .mainContainer6 {
        width: 1460px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer6 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 60px;
        color: #fff;
    }
    .mainContainer6 .two {
        margin-top: 49px;
        width: 100%;
        height: 89px;
        color: #C0C0C0;
        font-size: 26px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainContainer7 {
        width: 1460px;
        height: auto;
        margin: auto;
        margin-top: 78px;
    }
    .mainContainer7 .one {
        margin-top: 64px;
        height: 51px;
        width: 100%;
        font-family: 'te-font';
        font-size: 60px;
        color: #fff;
    }
    .mainContainer7 .two {
        margin-top: 49px;
        width: 100%;
        height: 25px;
        color: #C0C0C0;
        font-size: 26px;
        line-height: 32px;
        font-family: 'ef-font';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer {
        width: 100%;
        height: 121px;
        background-color: #090909;
        margin-top: 247px;
        position: relative;
        border-top: 1px solid #2e2e2e
    }
    .footerImg {
        width: 128px;
        height: 75px;
        margin: 0 0 0 230px;
        background: url('../image/LOGO1@2x\(1\).png') no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 230px;
    }
    .footerText {
        font-size: 16px;
        font-family: 'ef-font';
        color: #C0C0C0;
        position: absolute;
        right: 234px;
        top: 50%;
        transform: translateY(-22%);
    }
}